*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculatrice{
    background-color: #3a4452;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.calculatrice form input{
    border: 0;
    outline:0;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) ;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem;
}

form .display{
    display: flex;
    justify-content: end;
    width: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    box-shadow: none;
}

form input.egal{
    width: 14rem;
}
form input.operator{
    color: aqua;
}